body {display: flex;flex-direction: column;justify-content: center;align-items: center;height: 100vh;font-family: "Vedana", sans-serif;}

.no-link {color: #c21807;}

.link-form {width: 30%;}
.link-form input, .link-form button {display: block;margin-bottom: 15px;width: 100%;box-sizing: border-box;height: 40px;}

.error {margin-bottom: 10px;color: #c21807;}
.error {}

